body {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #f7d1ff;
}

.main {
    border: 3px solid black;
    border-radius: 10px;
    padding: 130px;
    background: linear-gradient( to right, #D4ACFB, #B84FCE);
    color: white;
    font-family: monospace;
    filter:drop-shadow(82px 82px 24px rgba(194,56,109,0.32));
    width: 500px;
    margin-top: 50px;
    
}

h1 {
    font-size: 150px;
    line-height: 0.1;
}

a {
    color: white;
}